In [2]:
import pandas as pd

## Variables

In [6]:
PATH = "/private/home/jtk/better_analytics/"

## Read data file

In [7]:
df = pd.read_csv(PATH + "test.tsv", sep="\t")

In [8]:
df.head()

   item_id annotator_id  score    system
0        1           aa      5  baseline
1        1           bb      4  baseline
2        1           cc      4  baseline
3        2           aa      5  baseline
4        2           bb      2  baseline

## Calculate score per item

In [15]:
df_item = df.groupby(['system','item_id',])\
    .agg({'score'     :['median',list]})
df_item.columns = ['_'.join(col).strip() for col in df_item.columns.values]

df_item = df_item.reset_index()

In [16]:
df_item.head()

     system  item_id  score_median score_list
0  baseline        1             4  [5, 4, 4]
1  baseline        2             3  [5, 2, 3]
2  baseline        3             4  [5, 4, 4]
3  baseline        4             2  [4, 2, 2]
4  baseline        5             1  [4, 1, 1]